/* =====================================
GENERAL
=========================================================*/
*{
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    font-family: 'Acme', sans-serif;
    font-size: 14px;
    background: #111318;
    overflow-x: hidden;
}

/* =====================================
NAVIGATION
=========================================================*/
.navbar-custom{
    background-color: #041230;
}

.logo-title{
    color:orange;
    font-style: italic;
} 

.icon-color{
    background: orange;
}

.nav-link-custom{
    color: #fff !important;
    transition: 1s;
}

.nav-link-custom:hover{
    color: orange !important;
}
/* header{
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .6)), url(../images/lap-1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

nav{
    background-color: #041230;
    width: 100%;
    position: relative;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    overflow: hidden;
}

nav ul li{
    display: inline-block;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

nav ul li a:hover{
    color: orange;
}

.logo{
    float: left;
    margin: 6px 36px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.logo-title{
    color:orange;
    font-style: italic;
    font-family: quicksand;
} */

/* =====================================
BANNER
=========================================================*/
#banner{
    position: absolute;
    top: 30%;
    left: 35%;
}

#banner h2{
    font-size: 56px;
    color: white;
}

#banner p{
    color: white;
    font-size: 20px;
}

#banner span{
    color: orange;
}

/* =====================================
ABOUT SECTION
=========================================================*/
#about{
    width: 90%;
    margin: 4em auto;
}

.about-content{
    display: flex;
    justify-content: space-between;
}

.about-img img{
    width: 300px;
}

.about-text h2{
    color: orange;
    padding-left: 20px;
}
.about-text p{
    color: #fff;
    padding-left: 20px;
}

.about_short_contact_wrap ul li {
    list-style: none;
    line-height: 40px;
    color: #fff;
}

.about-link{
    color: #fff;
    text-decoration: none;
}

.about-button{
    padding-left: 20px;
}

.btn-custom{
    padding: 10px;
    background-color: orange;
    border: none;
    border-radius: 5px;
}

/* =====================================
SKILLS SECTION
=========================================================*/
#skills{
    background: url(../images/header_bg.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.skills-content{
    display: flex;
    justify-content: space-around;
}

.skills-icons,
.hobbies-icons{
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.hobbies-header h2{
    color: orange;
}

.hobbies-header p{
    color: #fff;
}

.hobbies-icons p{
    padding-left: 10px;
}

.skills-title h2{
    color: orange;
}

.skills-title p{
    color: #fff;
}

.fa-book,
.fa-search,
.fa-code{
    padding-left: 30px;
}

/* =====================================
PROJECTS SECTION
=========================================================*/
.project-title h2{
    color: orange;
    text-align: center;
}
.project-title p{
    color: #fff;
    text-align: center;
}

.project-content{
    width: 90%;
    margin: 4em auto;
    display: flex;
    justify-content: space-around;
}

.project-content-1{
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 15px 15px 5px #000;
}

.project-content-1 h3{
    text-align: center;
}

.btn-primary{
    padding: 8px;
    margin: 20px;
    background-color: orange;
    border: none;
    border-radius: 8px;
}

/* =====================================
CONTACT SECTION
=========================================================*/
#contact{
    text-align: center;
}
#contact h2{
    color: orange;
}

#contact p{
    color: #fff;
}

/* =====================================
FOOTER SECTION
=========================================================*/
footer{
    background-color: #041230;
    padding: 20px;
    text-align: center;
    color: #fff;
}


/* =====================================
MEADIA QUERY SECTION
=========================================================*/
@media(max-width: 580px) {
    nav ul li a{
        visibility: hidden;
    }

    nav{
        height: 50px;
    }

    #banner h2{
        font-size: 36px;
        color: white;
    }

    .about-content{
        display: block;
    }

    .skills-icons,
    .hobbies-icons{
        display: block;
    }

    .project-content{
        flex-direction: column;
    }

    .project-content-1{
        margin-top: 20px;
    }
}